@import '../style/variable.scss';

.average-session-container {
    background: #FF0000;
    border-radius: 5px;
    padding: 20px;
    color: #FFF;
    position: relative;
  
    h2 {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  
    .custom-tooltip {
      background: #FFF;
      padding: 10px;
      color: #FF0000;
    }
  }
  