@import '../style/variable.scss';

.dashboard-container {
  padding: 20px;
  position: absolute;
  top: 120px;
  left: 200px;
  right: 20px;
}

h1 {
  font-family: $font-family-main;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  color: $color-black;
}

.red-text {
  color: $color-red;
}

.felicitation-message {
  font-family: $font-family-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: $color-black;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.activity-container {
  flex: 2; /* Adjusts the size of the Activity component */
  margin-right: 20px;
}

.keydata-container {
  flex: 1; /* Adjusts the size of the Keydata component */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $color-red; /* Red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  font-size: 24px;
  color: $color-red;
  text-align: center;
  margin-top: 50px;
}
