@import '../style/variable.scss';

.score-container {
    position: relative;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .score-title {
    position: absolute;
    top: 20px;
    left: 50px;
    font-family:$font-family-main ;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

  }
  
  .score-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .score-percentage {
    font-family: $font-family-main;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 0;

  }
  
  .score-text {
    font-family:$font-family-main;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: $color-light;

  }
  